:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Roboto Serif";
  src: url("/public/fonts/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf") format('.ttf'),
       url("/public/fonts/RobotoSerif-Italic-VariableFont_GRAD\,opsz\,wdth\,wght.ttf") format('.ttf');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Josefin Slab";
  src: url("/public/fonts/JosefinSlab-VariableFont_wght.ttf") format('.ttf'),
       url("/public/fonts/JosefinSlab-Italic-VariableFont_wght.ttf") format('.ttf');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.primary-font {
  font-family: "Roboto Serif", serif;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

.primary-font.bold {
  font-weight: 700
}
.primary-font.light {
  font-weight: 200;
}
.italic{
  font-style: italic;
}

.secondary-font {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal
}

.secondary-font.light {
  font-weight: 300;
}

.hide{
  display: none !important;
}